name: test
on:
  push:
    branches:
      - "**"
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Install buf
        run: |
          go install github.com/bufbuild/buf/cmd/buf@latest
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
      - name: proto-lint
        run: |
          make proto-lint
      - name: generate
        run: |
          make generate
      - name: Install golangci-lint
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
      - name: lint
        run: |
          make lint
      - name: vet
        run: |
          go vet ./...
      - name: test
        run: |
          make test
      - name: build
        run: |
          make build
  docker-build-test:
    runs-on: ubuntu-latest
    steps:
     - name: checkout
       uses: actions/checkout@v6
       with:
         fetch-depth: 1
     - name: Build container image
       uses: docker/build-push-action@v6
       with:
         push: false
         file: Dockerfile.server
